/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital@0;1&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;


.footer {
  text-align: center;
  padding: 1em;
  background-color: #f1f1f1;
  position: fixed;
  bottom: 0;
  width: 50%;
}

@media screen and (min-width: 480px) {
.about-me-image {
  max-width: 800px;
  justify-content: flex-end;
  margin: 0 auto;
}
}


.about-me-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.about-me-container h1 {
  
  font-size: 5em;
  margin-bottom: 20px;
}

.about-me-container h2 {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.about-me-container p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .about-me-container {
      padding: 15px;
  }

  .about-me-container h1 {
      font-size: 2em;
  }

  .about-me-container h2 {
      font-size: 1.5em;
  }

  .about-me-container p {
      font-size: 1em;
  }
}

   .content {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 5%;
    top: 10em;
    color: white;
  }

  .content h1 {
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }
  .content p {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }
  
